.sideBar {
    -fx-background-insets: 0;
    -fx-background-color: TRANSPARENT;
}
.sideBar:focused,
.sideBar:hover {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #F7FCFE;
    -fx-border-color: #bfeafc;
    -fx-border-width: 0 0 0 5;
}

#searchBox {
    -fx-background-color: #5643fa;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #5643fa, 15, 0, 0, 2);
}

#searchTerm {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: white;
}

#cancelBtn {
    -fx-background-color: #5643fa;
}

.item {
    -fx-background-color: TRANSPARENT;
}

.item:hover {
    -fx-background-color: #cbfbff;
    -fx-border-radius: 5;
    -fx-background-radius: 7;
}

.title {
    -fx-background-color: #5643fa;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
}

#explanation {
    -fx-text-fill: #2137ff;
}

#separator {
    -fx-background-color: #2137ff;
}

.Button {
    -fx-background-color: #5643fa;
    -fx-effect: dropshadow(three-pass-box, #5643fa, 5, 0, 0, 0);
    -fx-background-radius: 5;
    -fx-border-radius: 2;
}

.Button:hover {
    -fx-background-color: #2137ff;
}

.header-translate {
    -fx-border-color: #5643fa;
    -fx-border-width: 1.5;
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}

.speech-field {
    -fx-border-color: #5643fa;
    -fx-border-width: 1.5;
    -fx-background-radius: 0 0 5 5;
    -fx-border-radius: 0 0 5 5;
}

.add-box {
    -fx-border-color: #5643fa;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
}

.list-cell {
    -fx-text-fill: #2137ff;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-padding: 5;
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.list-cell:even, .list-cell:odd {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.list-cell:even {
    -fx-background-color: #f5f6fa;
}

.list-cell:odd {
    -fx-background-color: #eff0fb;
}

.list-cell:filled:hover,
.list-cell:filled:selected {
    -fx-background-color: linear-gradient(to bottom left, #00E7FFF5, #5643fa);
    -fx-text-fill: white;
}

.list-cell .scroll-bar:horizontal .track,
.list-cell .scroll-bar:vertical .track,
.explanation .scroll-bar:horizontal .track,
.explanation .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.list-cell .scroll-bar:vertical .increment-button,
.list-cell .scroll-bar:vertical .decrement-button,
.explanation .scroll-bar:vertical .increment-button,
.explanation .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.list-cell .scroll-bar:horizontal .increment-button,
.list-cell .scroll-bar:horizontal .decrement-button,
.explanation .scroll-bar:horizontal .increment-button,
.explanation .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.list-cell .scroll-bar .increment-arrow,
.list-cell .scroll-bar .decrement-arrow,
.explanation .scroll-bar .increment-arrow,
.explanation .scroll-bar .decrement-arrow {
    -fx-padding: 0;
}

.list-cell .scroll-bar:vertical .thumb,
.list-cell .scroll-bar:horizontal .thumb,
.explanation .scroll-bar:vertical .thumb,
.explanation .scroll-bar:horizontal .thumb {
    -fx-background-color: #8BD3DB;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}